body{
    background-color: pink;
}
.image{
    display: block;
    width:100px;
}
.line{
    text-align: center;    
    line-height: 1;
}
h1 {
    text-align: center;     
    color: rgb(216, 149, 24);  
    line-height: 1;          
}
p {
    text-align: center;    
    font-size : 18px;
    line-height: 2;
}
.contacts-title {
    text-align: center;    
    margin-top: 2px;   
    margin-bottom: 1px;
}
.contacts-text {
    text-align: center;    
    line-height: 1.25;
}
table {
    text-align: left;    
    line-height: 1.5;
    margin:0 auto;
}
.link {
    display: block;
    text-align: right;
    margin-top: 30px;
    margin-right: 20px;
}
a:visited {
    color: purple;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
    color: yellow;
    text-decoration: underline;
}
