#circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: white;
    box-shadow: 
        0 0 0 40px yellow, 
        0 0 0 80px blue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
}